<%- include("layout", { cartCount: 0 }) %>

<section class="section active">
  <h1 style="text-align:center; color:#ff4757; margin-bottom:30px;">Shop Collection</h1>
  <div class="products" id="products"></div>

  <div class="modal" id="product-modal">
    <div class="modal-content">
      <span class="close" id="close-product">&times;</span>
      <img id="modal-img" src="">
      <h3 id="modal-name"></h3>
      <p id="modal-price"></p>
      <p id="modal-desc"></p>
      <input type="number" id="modal-qty" min="1" value="1">
      <button id="modal-add">Add to Cart</button>
    </div>
  </div>
</section>
